COMPOSE_PROJECT_NAME=ai-commerce

MYSQL_DATABASE=jinhan_shop
MYSQL_ROOT_PASSWORD=change-me-root-password
MYSQL_APP_USERNAME=jinhan_app
MYSQL_APP_PASSWORD=change-me-app-password

REDIS_PASSWORD=change-me-redis-password

RABBITMQ_USERNAME=jinhan
RABBITMQ_PASSWORD=change-me-rabbitmq-password
RABBITMQ_VHOST=/

CONFIG_SERVER_USERNAME=config-server
CONFIG_SERVER_PASSWORD=change-me-config-server-password

DB_HOST=mysql
DB_PORT=33306
DB_NAME=jinhan_shop
DB_USERNAME=jinhan_app
DB_PASSWORD=change-me-app-password
DB_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

SPRING_CLOUD_CONFIG_PROFILE=prod
SPRING_CLOUD_CONFIG_LABEL=main
SPRING_CLOUD_CONFIG_FAIL_FAST=true

NGINX_HTTP_PORT=80
RABBITMQ_MANAGEMENT_PORT=15672

IMAGE_REPOSITORY=crpi-exofctq2c8bk7lmo.cn-guangzhou.personal.cr.aliyuncs.com/ze_yu/ze_yu1
IMAGE_VERSION=prod
BUILD_PLATFORM=linux/amd64
PUBLISH_MODE=buildx-push

REGISTRY_USERNAME=
REGISTRY_PASSWORD=

CONFIG_SERVER_IMAGE_OVERRIDE=
ADMIN_WEB_IMAGE_OVERRIDE=
